{
	admin off
	email {$ACME_CONTACT_EMAIL}
}

{$CONTROL_HOSTNAME} {
	encode zstd gzip
	reverse_proxy web:8080 {
                header_up X-Forwarded-Proto https
                header_up X-Forwarded-Port 443
                header_up X-Forwarded-Host {$CONTROL_HOSTNAME}
                header_down Location "http://{$CONTROL_HOSTNAME}" "https://{$CONTROL_HOSTNAME}"
}


	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	        Content-Security-Policy "upgrade-insecure-requests"
                -Server
	}
}

https://{$TELEMETRY_HOSTNAME}:8444 {
	@log_sources {
		remote_ip {$LOG_SOURCE_IPV4_ALLOWLIST}
		path /loki/api/v1/push
	}

	handle @log_sources {
		reverse_proxy loki:3100
	}

	@edge_sources remote_ip {$EDGE_PUBLIC_IPV4_ALLOWLIST}

	handle @edge_sources {
		reverse_proxy clickhouse:8123
	}

	respond 403
}

http://127.0.0.1:2019 {
	respond /healthz 200
}
